@import url("https://fonts.googleapis.com/css2?family=Merienda&family=Padauk&family=Source+Code+Pro&display=swap");

* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}

body {
  background-color: black;
  height: 100vh;
}

/*-----NAV----*/
.homeButton a {
  font-size: 1.5rem;
  text-decoration: none;
  cursor: pointer;
  color: #e669c0;
  font-family: "Padauk", sans-serif;
}

.homeButton a:visited {
  color: #e669c0;
  background-color: black;
}

.homeButton a:active {
  color: black;
  background-color: #e669c0;
  border-bottom: 5px #2c3588 solid;
  transition-duration: all 30s ease;
}

.homeButton a:hover {
  color: #e669c0;
  background-color: black;
  border-bottom: 5px #343e94 solid;
}

/*----HOMEPAGE FONTS----*/
.P1 {
  font-family: "Source Code Pro", monospace;
}

.P2 {
  font-family: "Padauk", sans-serif;
}
