@import url("https://fonts.googleapis.com/css2?family=Merienda&family=Padauk&family=Source+Code+Pro&display=swap");

* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}

.p1,
.h1 {
  font-family: "Padauk", sans-serif;
}

.h2 {
  font-family: "Source Code Pro", monospace;
}

.div3 {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
